@media (min-width: 768px) {
  .first {
    display: flex;
  }

  .second {
    display: flex;
  }

  .menu {
    display: none;
  }

  main {
    width: 80%;
    margin: 20px 100px;
  }

  .main-section {
    padding: 2rem 2rem;
  }

  .logo {
    height: auto;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .title-content {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr;
    gap: 20px;
    width: 96%;
  }

  .card {
    flex-direction: column;
  }

  .join {
    border: none;
    background: transparent;
    text-decoration: underline;
    margin-left: 300px;
    font-size: 20px;
    text-transform: uppercase;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    justify-content: center;
    align-content: center;
    width: 75%;
    min-width: 768px;
  }

  .speaker {
    max-width: 700px;
  }

  #more {
    display: none;
  }

  .partners-sec {
    display: flex;
    height: 250px;
    gap: 5px;
    padding: 20px;
  }

  .partners {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 2rem 0;
  }

  .partners img {
    width: 15%;
    height: 100px;
    filter: saturate(0);
    cursor: pointer;
    transition: filter 0.15s;
  }

  .bottom {
    display: flex;
    height: 250px;
  }

  .bottom p {
    font-size: 1.2rem;
  }

  .foot-img {
    width: 20%;
    height: 100px;
    background-image: none;
  }

  .description {
    padding: 20px;
    width: 59%;
    height: 200px;
  }

  .section-title h2 {
    font-size: 1.9rem;
  }

  .log-mmf {
    width: 80%;
    margin: 0 auto;
  }

  .log-mmf p {
    margin: 5px auto;
    text-align: center;
  }

  .logodegn {
    width: 50%;
    margin: auto;
  }

  .logodegn img {
    width: 29.375rem;
  }

  .past-events {
    flex-direction: row;
    justify-content: center;
  }

  .past-events li {
    max-width: 38.5rem;
    max-height: 21.875rem;
  }
}
